<p class="side-header__box__user-name">ito</p>
<p class="group__group-name">sample</p>
<p class="group__latest-message">まだメッセージがありません</p>
<h2 class="main-header__left-box__current-group" data-group_id="1256">
sample
</h2>
<ul class="main-header__left-box__member-list">
Member：
<li class="main-header__left-box__member-list__member">ito</li>
</ul>
<p class="message__upper-info__talker">ito</p>
<p class="message__upper-info__date">2019/09/13(Fri) 20:24:01</p>
<p class="message__text">aaaaaaaaaa</p>

.side-header
.chat-side
.chat-side 
.groups